*,
*::before,
*::after {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 
}
body {
 margin: 20px 0;
 border: blue;
 background: rgb(241, 33, 5);
 
 }
 header {
 text-align: center;
 border: black


 }

 footer {
         text-align: center;
         font-size-adjust: inherit; color: aqua;block-size: initial
         
         
 }

.grid {
 max-width: 960px;
 margin: 0 auto;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 border: rgb(102, 17, 17);
 
 
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
}
.card {
 position: relative;
 -webkit-transition: all .4s linear;
 -o-transition: all .4s linear;
 transition: all .4s linear;
 -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
 margin: 5px;
 border: black;
}
.card,
.back,
.front {
 height: 150px;
 width: 150px;
}
.back,
.front {
 position: absolute;
 -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
}
.front {
 background: rgb(66, 250, 75);
 border: black;
}
.back {
 -webkit-transform: rotateY(180deg);
         transform: rotateY(180deg);
 background-color: rgb(249, 101, 229);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
}
.selected {
 -webkit-transform: rotateY(180deg);
         transform: rotateY(180deg);
}
.match .front {
 background:rgb(249, 101, 229);
 
};
