*,
*::before,
*::after {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 
}
body {
 margin: 20px 0;
 border: blue;
 background: rgb(248, 4, 4);
 
 
 
 }
 header {
 text-align: center;font-style: serif;color: rgb(42, 21, 233);
 border: rgb(74, 122, 226);
 

 }

 footer {
         text-align: center;
         font-size-adjust: inherit; color:white;block-size: initial;
         background : color blue;
         
        
         
 }

.grid {
 max-width: 960px;
 margin: 0 auto;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 border: rgba(253, 6, 220, 0.192);
 
 
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
}
.card {
 position: relative;
 -webkit-transition: all .4s linear;
 -o-transition: all .4s linear;
 transition: all .4s linear;
 -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
 margin: 5px;
 border: black;
}
.card,
.back,
.front {
 height: 150px;
 width: 150px;
}
.back,
.front {
 position: absolute;
 -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
}
.front {
 background: rgb(66, 250, 75);
 border: black;
}
.back {
 -webkit-transform: rotateY(180deg);
         transform: rotateY(180deg);
 background-color: rgb(249, 101, 229);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
}
.selected {
 -webkit-transform: rotateY(180deg);
         transform: rotateY(180deg);
}
.match .front {
 background:rgb(249, 101, 229);
 
};

button {
background-color: blue;
width: 600;
height: 50px;
border: rgba(0, 0, 255, 0.801);
};